@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~@fontsource/roboto-condensed/scss/mixins";

@include fontFace(
        $weight: 400,
        $display: fallback,
        $fontDir: "~@fontsource/roboto-condensed/files"
);

body {
    font-family: 'Roboto Condensed', serif;
    color: black;
}
